/* This is the CSS for the page itself. Customize this to your liking */

body{
    margin:0;
    background-color: #74828f;
    font-family: "Helvetica";
}
#headerText{
    font-size:54pt;
    text-align: center;
    color: #525564;
    padding:20px;
}

#spacer #headerText{
    color:white;
}

#spacer{
    width:100%;
    background-color: #c25b56;
    min-height:30px;
    margin-bottom:5px;
}

#limiter {
    margin: auto;
    width:90%;
    max-width: 1400px;
    text-align: center;
}
#blocksArea{
    margin: auto;
}

#contact, #custom {
    background-color: #69e;
}
#contact .blockContentText, #custom .blockContentText {
    font-size: 120pt;
    margin:0;
}

#tabletop {
    background-color: burlywood;
}

#card {
    background-color: #69e;
}

#board {
    background-color: #c25b56;
}

#hunt {
    background-color: burlywood;
}

#video {
    background-color: #222;
    color: #fff;
}

#languages {
    background-color: #c25b56;
}

#partner {
    background-color: #33f;
    color: white;
}

/* this overrides specific behavior for all blocks*/
.mainBlock{
    margin: 5px;
    text-align: center;
}
